@using System.Web.UI.WebControls
@using Payer.Entities
@model ListPagination<Employee>


<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active"><a href="#">Employee List</a></li>
                    </ol>
                </nav> <br /><br />

                <div class="row">
                    <div class="col-md-12 table-responsive-md">
                        <a href="/Employee/Create" class="btn btn-xs btn-outline-success float-md-right">New Employee</a>

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Employee No.</th>
                                    <th>Photo</th>
                                    <th>Name</th>
                                    <th>Gender</th>
                                    <th>Designation</th>
                                    <th>City</th>
                                    <th>Joined</th>
                                    <th class="text-warning">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td><a href="#">@item.EmployeeNo</a></td>

                                            @{
                                                if (!string.IsNullOrEmpty(item.ImageUrl))
                                                {
                                                    <td><img src="~/Images/employee/@item.ImageUrl"></td>
                                                }
                                                else
                                                {
                                                    <td><img src="~/Images/employee/boy.png"></td>
                                                }
                                            }
                                            
                                            <td>@item.FullName</td>
                                            <td>@item.Gender</td>
                                            <td>@item.Designation</td>
                                            <td>@item.City</td>
                                            <td>@item.DateJoined.ToShortDateString()</td>

                                            <td>
                                                <a href="~/Employee/Edit/@item.Id" class="text-success">
                                                    @item.Id
                                                    <i class="fas fa-edit"></i>  Edit
                                                </a>
                                            </td>
                                            <td>
                                                <a href="~/Employee/Detail/@item.Id" class="text-google">
                                                    @item.Id
                                                    <i class="fas fa-bars"></i>  Detail
                                                </a>
                                            </td>
                                            <td>
                                                <a href="~/Employee/Delete/@item.Id" class="text-danger">
                                                    @item.Id
                                                    <i class="fas fa-trash-alt"></i>  Delete
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                        @{
                            var disablePrevious = !Model.IsPreviousPageAvailable() ? "disabled" : "";
                            var disableNext = !Model.IsNextPageAvailable() ? "disabled" : "";
                        }

                        @{
                            if (Model.TotalPages > 1)
                            {
                                <a href="~/Employee/Index/@(Model.PageIndex -1)" class="btn btn-primary @disablePrevious">Previous</a>

                                <a href="~/Employee/Index/@(Model.PageIndex +1)" class="btn btn-primary @disableNext">Next</a>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    var txt = TempData["toastmessage"];
}
@section CheckToastr{
    <script>

        if ("@TempData["toastmessage"]" === "Deleted") {
            toastr.success("Employee deleted successfully!");
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
        }

        if ("@TempData["createemployee"]" === "Created") {
            toastr.success("Employee created successfully!");
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
        }



    </script>
}